# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

octave-core
*.bin
*.elf
*.hex
*.map
*~
*.lst
tests
*.tmp
*.zip
.svn
.project
.gdbinitti
.cproject
.settings
.dep
*.d
*.exe
srec2bin
